<!--高速版-->
<div id="SOHUCS" ></div>
<script charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/changyan.js" ></script>
<script type="text/javascript">
window.changyan.api.config({
appid: 'cytgHflKi',
conf: 'prod_acaab6b8963aeed03d5f904d7f379a9a'
});
</script>